{% extends 'base.html' %}

{% block create_order %}

<div class="container d-flex justify-content-center w-50">
    <div class="card-body">
      <div class="card border-0 ">
        <div class="card-body rounded-3">
          <form method="POST">
            {% csrf_token %}
          <select hidden name="client" id="id_client">
            <option value="{{ user.id }}" selected>{{ user.username }}</option>
          </select>
          <select hidden name="room" id="id_room">
            <option id="room" value="" selected></option>
          </select>

          <table class="table">
            <tbody>
              <tr>
                <td><b>Клієнт</b></td>
                <td>{{ user.username }}</td>
              </tr>
              <tr>
                <td><b>Ім'я</b></td>
                <td> {{ user.first_name }} </td>
              </tr>
              <tr>
                <td><b>Прізвище</b></td>
                <td> {{ user.last_name }} </td>
              </tr>
              <tr>
                <td><b>Номер кімнати</b></td>
                <td id="number_room"></td>
              </tr>
              <tr>
                <td><b>Тип номеру</b></td>
                <td id="type_r"></td>
              </tr>
              <tr>
                <td><b>Кількість осіб</b></td>
                <td id="num_of_res"></td>
              </tr>
              <tr>
                <td><b>Вартість за день</b></td>
                <td id="cost_per_day"></td>
              </tr>
              <tr>
                <td><b>Дата заїзду</b></td>
                <td><input type="date" name="living_start_date" required id="id_living_start_date"></td>
              </tr>
              <tr>
                <td><b>Дата виїзду</b></td>
                <td><input type="date" name="living_finish_date" required id="id_living_finish_date"></td>
              </tr>
              <tr>
                <td><b>Коментарій</b></td>
                <td><textarea required name="comment" cols="40" rows="5" class="form-control" id="id_comment">none</textarea></td>
              </tr>
              <tr>
                <td><b>Загальна вартість</b></td>
                <td id="total-cost"></td>
              </tr>
            </tbody>
          </table>

            <div class="d-flex justify-content-center ">
              <a href="">
                <button type="submit" class="btn btn-primary">Забронювати</button>
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>

<script type="text/javascript">
    var i = sessionStorage.getItem("id_room");
    var type = sessionStorage.getItem("type_room");
    var num_of_r = sessionStorage.getItem("number_of_res");
    var cost = sessionStorage.getItem("cost");
    window.first_date = new Date()

    document.getElementById("room").value = i;
    document.getElementById("room").textContent="Room object ("+i+")";
    document.getElementById("number_room").textContent=i;
    document.getElementById("type_r").textContent=type;
    document.getElementById("cost_per_day").textContent=cost;
    document.getElementById("num_of_res").textContent=num_of_r;

    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();

    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("id_living_start_date").setAttribute("min", today);

    document.getElementById('id_living_start_date').onchange = function () {
        first_date = new Date(this.value);
        document.getElementById('id_living_finish_date').setAttribute('min',  this.value);
    }
    document.getElementById('id_living_finish_date').onchange = function () {
        const oneDay = 1000 * 60 * 60 * 24;
        var second_date = new Date(this.value);
        var diff = (second_date.getTime() - first_date.getTime()) / oneDay + 1;
        document.getElementById("total-cost").textContent=diff * cost + " грн.";
    };
</script>

{% endblock %}