{% extends "base.html" %}
{% load static %}

{% block cabinet %}

<div class="card bg-dark text-white">
  <img style="max-height: 45vh; object-fit: cover;" src="{% static '/images/odessa_fifth_screen.jpg' %}" class="card-img" alt="...">
</div>

{% include 'snippets/bar_date.html' %}



<div class="container">
  <div class="card m-5 border-0 rounded-3">
    <div class="card-body ">
      <div class="d-flex flex-wrap justify-content-center m-4">

          <div class="card card-hover m-4" style="width: 25rem;">
            <div class="card-body">
              <table class="table">
                <thead>
                  <tr>
                    <th colspan="2" scope="col"><h4>Замовлення №{{ order.id }}</h4></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Номер кімнати</th>
                    <td>{{ order.room.room_number }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Тип кімнати</th>
                    <td>{{ order.room.price.room_type_fk }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Кількість людей</th>
                    <td>{{ order.room.price.numberofpeople }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Дата створення замовлення</th>
                    <td>{{ order.registration_date }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Ціна за день</th>
                    <td>{{ order.room.price.rate }} грн.</td>
                  </tr>
                  <tr>
                    <th scope="row">Сплачено?</th>
                    <td>
                      {% if order.is_paid_for %}
                        Сплачено
                      {% else %}
                        Не сплачено
                      {% endif %}
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Підтверджено?</th>
                    <td>
                      {% if order.is_confirmed %}
                        Підтверджено
                      {% else %}
                        Не підтверджено
                      {% endif %}
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Дата заїзду</th>
                    <td>{{ order.living_start_date }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Дата виїзду</th>
                    <td>{{ order.living_finish_date }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Коментарій</th>
                    <td>{{ order.comment }}</td>
                  </tr>
                </tbody>
              </table>

              <div class="d-flex justify-content-center ">
                <a href="{% url 'delete_order' order.pk %}" class="m-2 btn btn-danger">Відмінити</a>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}