{% extends 'base.html' %}

{% block delete_order %}
<div style="height:550px;" class="container w-50">
    <div class="card-body">
      <div class="card border-0 ">
        <div class="card-body rounded-3">
            <div class="container d-flex justify-content-center">
                <form action="" method="post">
                    {% csrf_token %}
                    <p>Ви дійсно бажаєте видалити замовлення?</p>
                    <input type="submit" class="btn btn-danger" value="Підтвердити відміну" name="confirm_delete">
                    <a href="{% url 'cabinet' user.pk %}"><input type="button" class="btn btn-primary" value="Повернутися в кабінет" name="confirm_delete"></a>
                </form>
            </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}