{% extends "base.html" %}

{% block login %}

<!--Login--> 
<div class="container d-flex justify-content-center w-50">
    <div class="card-body">
      <div class="card border-0 ">
        <div class="card-body rounded-3">
              <h2>Вхід</h2>
              <form method="POST">
                {% csrf_token %}
                {{ login_form.as_p }}
                <button class="btn btn-primary m-4" type="submit">Вхід</button>
              </form>
              <p class="text-center"><a href="{% url 'password_reset' %}">Забули пароль?</a></p>
              <p class="text-center">Немає облікового запису? <a href="{% url 'register' %}">Створити аккаунт</a>.</p>

        </div>
        </div>
    </div>
</div>

{% endblock %}