<style type="text/css">
      body {
        background-color: #e3f2fd;
      }

      .navbar {
        background-color: #0158b5;
        height: 125px;
      }
      .bg_header_class {
        background-color: #f6ce00;
      }
      .bg_button_class {
        background-color: #287bc4;
      }

      .bg_carousel_class {
        background-color: #f2f2f2;
      }

      .text_blue {
        color: #5ea5e3;
      }


      .form-control::-webkit-input-placeholder {
		  color: white;
	  }

	  .strokeme
	  {
		  text-shadow:
		  -1px -1px 0 #fff,
		  1px -1px 0 #fff,
		  -1px 1px 0 #fff,
		  1px 1px 0 #fff;
	  }

	    .card-columns {
		  @include media-breakpoint-only(lg) {
		    column-count: 4;
		  }
		  @include media-breakpoint-only(xl) {
		    column-count: 5;
		  }
		}

		.link_style {
			text-decoration: none;
			color: white;
			padding: 6px;
		}

		.wrapper {
			min-height: calc(100vh - 105px);
		}

    p {
    	font-size: 13pt;
    }

    .icon-hover:hover {
        transform: scale(1.2, 1.2);
        transition: transform 200ms ease-in-out;
    }

    .text-footer {
        color: #0d47a1;
    }


.shadow {
    text-shadow: 2px 2px 3px black;
}

h1 {
    font-size: 60px;
}

.nav-text-style {
    font-size: 20px;
}

</style>