<div>
	<header class="p-3 text-white bg_header_class border-top border-dark">
      <div class="container">
        <div class="row ">
          <div class="col-sm d-flex flex-wrap align-items-center justify-content-center p-4">
            © Сеть копировальных центров, Одесса, 2008‑2021
          </div>


          <div class="col-sm d-flex flex-wrap align-items-center justify-content-center">
              <a class="link_style" href="https://instagram.com/">Instagram</a>
              |
              <a class="link_style" href="https://facebook.com/">Facebook</a>
          </div>
        </div>
      </div>
    </header>
</div>
