{% load static %}

<script type="text/javascript">
function reply_click(id, type, number_of_res, cost)
  {
      sessionStorage.setItem('id_room', id);
      sessionStorage.setItem('type_room', type);
      sessionStorage.setItem('number_of_res', number_of_res);
      sessionStorage.setItem('cost', cost);
  }
</script>

<div class="container">
  <div class="card m-5 border-0 rounded-3">
    <div class="card-body ">
      <div class="d-flex flex-wrap justify-content-center m-4">
        {% for room in rooms %}
        <div class="card card-hover m-4" style="width: 25rem;">
          {% for img in room.gallery_set.all %}
            <a href="{% url 'create_order' %}"><img class="d-block w-100" src="{{ img.room_image.url }}"></a>
          {% endfor %}

          <div class="card-body">

            <table class="table">
              <thead>
                <tr>
                  <th scope="col"><img height="25px" src="{% static 'icons/123.svg' %}"> Номер кімнати</th>
                  <th scope="col"><img height="25px" src="{% static 'icons/list.svg' %}"> Тип номеру</th>
                  <th scope="col"><img height="25px" src="{% static 'icons/people.svg' %}"> Кількість осіб</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ room.room_number }}</td>
                  <td>{{ room.room_type }}</td>
                  <td>{{ room.number_of_residents.numberofpeople }}</td>
                </tr>
              </tbody>
              <thead>
                <tr>
                  <th scope="col"><img height="25px" src="{% static 'icons/cash-coin.svg' %}"> Вартість:</th>
                  <td colspan="2"> <span id="cost">{{ room.number_of_residents.rate }}</span> грн./день</td>
                </tr>
              </thead>
            </table>

            <div class="d-flex justify-content-center ">
              <a href="{% url 'create_order' %}">
                <button onclick="reply_click({{ room.room_number }}, '{{ room.room_type }}', {{ room.number_of_residents.numberofpeople }}, {{ room.number_of_residents.rate }})" type="button" class="btn btn-primary">Забронювати</button>
              </a>
            </div>
          </div>
        </div>
        {% empty %}
            <div class="text-center">
              <img height="200px" src="{% static '/icons/sad.png' %}" alt="...">
              <h3>Немає вільних кімнат</h3>
            </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

