{% load static %}

<div class="container">
  <div class="card m-5 border-0 rounded-3">
    <div class="card-body">
      <div class="d-flex flex-wrap justify-content-center m-4">
        {% for room_type in object_list %}
        <div class="card m-4" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ room_type.room_type_title }}</h5>
            <p class="card-text">{{ room_type.content }}</p>
            <a href="#" class="btn btn-primary">Детальніше</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>