{% extends 'base.html' %}

{% block reset_password %}

{% load crispy_forms_tags %}

<div class="container d-flex justify-content-center w-50">
    <div class="card-body">
      <div class="card border-0 ">
        <div class="card-body rounded-3">
  	 	<h2 class="font-weight-bold mt-3">Відновлення пароля</h2>
		<p>Забули свій пароль? Введіть свою електронну адресу нижче, і ми надішлемо електронною поштою інструкції щодо налаштування нового.</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form|crispy}}
            <button class="btn btn-primary mt-4" type="submit">Надіслати на електронну пошту</button>
        </form>
  		</div>
	  </div>
	</div>
</div>

{% endblock %}