{% extends 'base.html' %}

{% block reset_password_done %}

{% load crispy_forms_tags %}

<div class="container d-flex justify-content-center w-50">
    <div class="card-body">
      <div class="card border-0 ">
        <div class="card-body rounded-3">
  		<h2 class="font-weight-bold mt-3">Відновлення пароля надіслано</h2>
		<hr>
		<p>Ми надіслали вам інструкції щодо відновлення пароля, якщо з введеною вами електронною поштою існує обліковий запис. Незабаром ви отримаєте їх.
			<br>Якщо ви не отримали електронного листа, переконайтеся, що ви ввели адресу, за якою ви зареєструвалися, і перевірте папку зі спамом.</p>
		</div>
	  </div>
	</div>
</div>

{% endblock %}