{% extends 'base.html' %}

{% block reset_password_complete %}

{% load crispy_forms_tags %}

<div class="container d-flex justify-content-center w-50">
    <div class="card-body">
      <div class="card border-0 ">
            <div class="card-body rounded-3">
            <h2 class="font-weight-bold mt-3">Відновлення пароля завершено</h2>
            <hr>
            <p>Ваш пароль відновлено. Ви можете увійти зараз.</p>
            <a href="/login" class="btn btn-primary">Вхід</a>
        </div>
      </div>
    </div>
</div>

{% endblock %}