{% extends 'base.html' %}

{% block reset_password_confirm %}

{% load crispy_forms_tags %}

<div class="container d-flex justify-content-center w-50">
    <div class="card-body">
      <div class="card border-0 ">
        <div class="card-body rounded-3">
	    <h2 class="font-weight-bold mt-3">Підтвердження відновлення пароля</h2>
		<hr>
        <p>Введіть новий пароль.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary mt-4" type="submit">Відновлення пароля</button>
        </form>
        </div>
      </div>
    </div>
</div>

{% endblock %}