{% extends 'base.html' %}

{% block gallery %}
{% load static %}

<div class="container d-flex justify-content-center">
    <div class="card-body">
      <div class="card border-0 ">
        <div class="card-body rounded-3" align="center">
            {% for gallery in object_list %}
                <img class="scale_shadow p-2" id="myImg{{ forloop.counter }}" src="{{ gallery.room_image.url }}" alt="No image" style="width:100%;
                max-width:200px;
                border-radius: 5px;
                cursor: pointer;
                transition: 0.3s;">
                <div id="myModal{{ forloop.counter }}" class="modal">
                  <span class="close" id="close{{ forloop.counter }}">&times;</span>
                  <img class="modal-content" id="img01{{ forloop.counter }}">
                </div>
                <script>
                    var modal = document.getElementById("myModal{{ forloop.counter }}");
                    var img = document.getElementById("myImg{{ forloop.counter }}");
                    var modalImg = document.getElementById("img01{{ forloop.counter }}");
                    img.onclick = function(){
                      modal.style.display = "block";
                      modalImg.src = this.src;
                    }
                    var span = document.getElementById("close{{ forloop.counter }}");
                    span.onclick = function() {
                      modal.style.display = "none";
                    }
                </script>
            {% empty %}
                <h2>Немає зображень</h2>
            {% endfor %}

            <nav class="pt-4" aria-label="Навігація по сторінках">
                <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Попередня</a>
                  </li>
                {% else %}
                    <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Попередня</a>
                  </li>
                {% endif %}

                {% if page_obj.number|add:'-4' > 1 %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'-5' }}">&hellip;</a></li>
                {% endif %}

                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item active" aria-current="page">
                      <span class="page-link">
                        {{ i }}
                        <span class="sr-only"></span>
                      </span>
                    </li>
                    {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                         <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                   <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'5' }}">&hellip;</a></li>
                {% endif %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Наступна</a>
                  </li>
                {% else %}
                    <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Наступна</a>
                  </li>
                {% endif %}
              </ul>
            </nav>


        </div>
      </div>
    </div>
</div>






{% endblock %}