{% extends 'base.html' %}

{% block gallery %}
{% load static %}

<div class="container d-flex justify-content-center">
    <div class="card-body">
      <div class="card border-0 ">
        <div class="card-body rounded-3" align="center">
            {% for gallery in object_list %}
                <img class="scale_shadow p-2" id="myImg{{ forloop.counter }}" src="{{ gallery.room_image.url }}" alt="No image" style="width:100%;
                max-width:200px;
                border-radius: 5px;
                cursor: pointer;
                transition: 0.3s;">
                <div id="myModal{{ forloop.counter }}" class="modal">
                  <span class="close" id="close{{ forloop.counter }}">&times;</span>
                  <img class="modal-content" id="img01{{ forloop.counter }}">
                </div>
                <script>
                    var modal = document.getElementById("myModal{{ forloop.counter }}");
                    var img = document.getElementById("myImg{{ forloop.counter }}");
                    var modalImg = document.getElementById("img01{{ forloop.counter }}");
                    img.onclick = function(){
                      modal.style.display = "block";
                      modalImg.src = this.src;
                    }
                    var span = document.getElementById("close{{ forloop.counter }}");
                    span.onclick = function() {
                      modal.style.display = "none";
                    }
                </script>
            {% empty %}
                <h2>Немає зображень</h2>
            {% endfor %}

            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>

        </div>
      </div>
    </div>
</div>






{% endblock %}