{% extends 'base.html' %}

{% block create_maintenance_order %}

<div class="container d-flex justify-content-center w-50">
    <div class="card-body">
      <div class="card border-0 ">
        <div class="card-body rounded-3">
          <form method="POST">
            {% csrf_token %}
          <table class="table">
            <tbody>
              <tr>
                <td><b>Клієнт</b></td>
                <td>{{ user.username }}</td>
              </tr>
              <tr>
                <td><b>Ім'я</b></td>
                <td> {{ user.first_name }} </td>
              </tr>
              <tr>
                <td><b>Прізвище</b></td>
                <td> {{ user.last_name }} </td>
              </tr>
              <tr>
                <td><b>Номер замовлення</b></td>
                <td>
                  <select name="order" required="" id="id_order">
                    <option value="" selected="">---------</option>
                    {% for order in orders %}
                      {% if user == order.id_client %}
                        <option value="{{ order.id }}">{{ order }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </td>
              </tr>
              <tr>
                <td><b>Назва обслуговування</b></td>
                <td>
                  <span id="mt"></span>
                  <select hidden name="maintenance" required="" id="id_maintenance">
                    <option id="mtv" selected value="">Maintenance object (Сніданок у номер)</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td><b>Вартість за день</b></td>
                <td id="price"></td>
              </tr>
              <tr>
                <td><b>Коментарій</b></td>
                <td><textarea required name="comment" cols="40" rows="5" class="form-control" id="id_comment">none</textarea></td>
              </tr>
              <tr>
            </tbody>
          </table>
            <div class="d-flex justify-content-center ">
              <a href="">
                <button type="submit" class="btn btn-primary">Замовити</button>
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>

<script type="text/javascript">
    var price = sessionStorage.getItem("price");
    var mt = sessionStorage.getItem("mt");

    document.getElementById("mt").textContent=mt;
    document.getElementById("mtv").textContent="Maintenance object ("+ mt +")";
    document.getElementById("mtv").value=mt;

    document.getElementById("price").textContent=price + " грн./день";
</script>

{% endblock %}