{% extends 'base.html' %}

{% block category_detail %}
{% load static %}

<div class="card bg-dark text-white">
  <img style="max-height: 45vh; object-fit: cover;" src="{% static '/images/odessa_third_screen.jpg' %}" class="card-img" alt="...">
</div>

{% include 'snippets/bar_date.html' %}

<div class="pt-5 pb-3 w-100 container justify-content-center">
  <h2 class="text-center">Категорії додаткових послуг</h2>
  <p class="text-center">Готель також пропонує скористатися додатковими послугами.</p>
</div>

{% include 'snippets/maintenance_card.html' %}

{% endblock %}